<a href="https://colab.research.google.com/github/Siwenli0615/Hello-world/blob/main/Lektion4_exercises/03_for_statement_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# for statement exercises

---
These are introductory exercises in Python with focus in **for** statement.

<p class = "alert alert-info" role="alert"><b>Remember</b> to use <b>descriptive variable names</b> in order to get readable code </p>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your answers in a neat way using <b>f-strings</b>

<p class = "alert alert-info" role="alert"><b>Remember</b> to format your input questions in a pedagogical way to guide the user

The number of stars (\*), (\*\*), (\*\*\*) denotes the difficulty level of the task

---

## 1. Count numbers (*)

Use a **for** statement to count from:

&nbsp; a) &nbsp; -10 to 10 with one increment (*)

&nbsp; b) &nbsp; -10 to 10 with two increment (*)

<details>

<summary>Answer </summary>

```
a) -10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

b) -10  -8  -6  -4  -2  0  2  4  6  8  10
```

</details>

In [5]:
#Use a for statement to count from:
#a)   -10 to 10 with one increment (*)

for number in range(-10,11):
  print(number,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9 10

In [7]:
# b)   -10 to 10 with two increment (*)
for i in range(-10,11,2):
  print(i, end=" ")

-10 -8 -6 -4 -2 0 2 4 6 8 10

---
## 2. Arithmetic sum (*)
Use a **for** statement to compute the following sums:

&nbsp; a) &nbsp; $\text{sum} = 1 + 2 + \ldots + 99+ 100$ (*)

&nbsp; b) &nbsp; $\text{sum} = 1 + 3 + 5 + \ldots + 97 + 99$ (*)

<details>

<summary>Answer </summary>

```
a) 1 + 2 + ... + 99 + 100 = 5050

b) 1 + 3 + 5 +...+ 97 + 99 = 2500
```

</details>

In [9]:
#Use a for statement to compute the following sums:
#  a)    sum=1+2+…+99+100  (*)
sum = 0
for i in range(1,101):
  sum += i

print(sum)

5050

In [10]:
#b)    sum=1+3+5+…+97+99  (*)
sum=0
for i in range(1,100,2):
  sum+=i
print(sum)

2500

---
## 3. Multiplication table (*)
Use **for** statement(s) to:

&nbsp; a) &nbsp; print out the 6th multiplication table from 0 to 10 (*)

&nbsp; b) &nbsp; let the user input the **table**, **start** and **end** of the table. (*)

&nbsp; c) &nbsp; print out a full multiplication table from 0 to 10. (**)


<details>

<summary>Hint</summary>

c) Use nested for-loops, which means a for-loop in a for-loop. To format the table nicely, use **f-string**:

```python
print(f"{number :4}", end = "")
```


</details>


<details>

<summary>Answer </summary>

a)
```
0 6 12 18 24 30 36 42 48 54 60
```

b) e.g.

```
Which table are you interested in? 5
Specify start of table: 5
Specify end of table: 12

Your 5th multiplication table from 5 to 12: 25 30 35 40 45 50 55 60
```

c)

```
   0   0   0   0   0   0   0   0   0   0   0
   0   1   2   3   4   5   6   7   8   9  10
   0   2   4   6   8  10  12  14  16  18  20
   0   3   6   9  12  15  18  21  24  27  30
   0   4   8  12  16  20  24  28  32  36  40
   0   5  10  15  20  25  30  35  40  45  50
   0   6  12  18  24  30  36  42  48  54  60
   0   7  14  21  28  35  42  49  56  63  70
   0   8  16  24  32  40  48  56  64  72  80
   0   9  18  27  36  45  54  63  72  81  90
   0  10  20  30  40  50  60  70  80  90 100
```

</details>

In [13]:
#Use for statement(s) to:

# a)   print out the 6th multiplication table from 0 to 10 (*)
for i in range(11):
  print(f"6 * {i} = {i*6}")

6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [23]:
 # b)   let the user input the table, start and end of the table. (*)
print("We can have some multiplication, you can choose table, start and end and I will give you the answer, lets try!")
table = int(input("What multiplication table shall we try? >"))
start_number = int(input("starting at? >"))
end_number = int(input("End at? >"))
print("\n Here it is: ")
for i in range(start_number, end_number+1):
  print(f" {table} x {i} = {table * i}")

We can have some multiplication, you can choose table, start and end and I will give you the answer, lets try!
What multiplication table shall we try? >5
starting at? >2
End at? >3

 Here it is:
 5 x 2 = 10
 5 x 3 = 15

In [33]:
#  c)   print out a full multiplication table from 0 to 10. (**)
print("Here is a multiplication table from 0 to 10: ")
for table in range(0,11):
  print("\n")
  for count in range(0,11):
    print(f"{table*count}", end = "  ")

Here is a multiplication table from 0 to 10:


0  0  0  0  0  0  0  0  0  0  0

0  1  2  3  4  5  6  7  8  9  10

0  2  4  6  8  10  12  14  16  18  20

0  3  6  9  12  15  18  21  24  27  30

0  4  8  12  16  20  24  28  32  36  40

0  5  10  15  20  25  30  35  40  45  50

0  6  12  18  24  30  36  42  48  54  60

0  7  14  21  28  35  42  49  56  63  70

0  8  16  24  32  40  48  56  64  72  80

0  9  18  27  36  45  54  63  72  81  90

0  10  20  30  40  50  60  70  80  90  100

---
## 4. Faculty (*)

Use a **for** statement to compute $n!$.

$n! = 1\cdot2\cdot3\cdot\ldots\cdot(n-1)\cdot n $

Let the user input $n$.

In [38]:
#Use a for statement to compute  n! .

#n!=1⋅2⋅3⋅…⋅(n−1)⋅n

#Let the user input  n .
result = 1
n = int(input("Choose the number 'n' and I will give you n! >"))
for i in range(1, n+1):
  result *= i
print(f"The answer is {result}")

Choose the number 'n' and I will give you n! >5
The answer is 120

---
## 5. Guess the number (*)

The computer thinks of a four-digit number. Start by creating a random four-digit number. Use **for** statement to figure out a correct guess

<br>
<details>

<summary>Answer </summary>

e.g.
```
The final guess is 8993
The computer number is 8993
```

</details>

In [53]:
# The computer thinks of a four-digit number. Start by creating a random four-digit number. Use for statement to figure out a correct guess
import random
first_digit = random.randint(0,9)
second_digit = random.randint(0,9)
third_digit = random.randint(0,9)
fourth_digit = random.randint(0,9)

random_number = [first_digit, second_digit,third_digit,fourth_digit]
print(random_number)
print(f"The random number: {first_digit}{second_digit}{third_digit}{fourth_digit} ")

print(f"My guessed number: ",end="")
for i in range(len(random_number)):
  for j in range(0,10):
    if j == random_number[i]:
      print(j,end="")
      break

[6, 5, 8, 5]
The random number: 6585
My guessed number: 6585

---
## 6. Rice on chessboard (*)

In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

<img align="left" src="https://github.com/aleylani/Python/blob/main/assets/chessboard.png?raw=1" width="300"/>

In [57]:
#In first square of the chessboard there is one grain of rice, in the second square there is two grains, in the third square there is four grains and so on. How many grains are there in the whole chessboard when all squares are filled using this pattern?

# number of square on the chessboard: 8 x 8 = 64
# we want to have the sum of 1+2+4+8+...+2^63
sum = 0
for i in range(0,64):
  sum += 2**i

print(f"The total amount is {sum} grains")

m = 0.065 #weight_of_one_grain is 0.065 gram
tot_weight = sum * 0.065 /1000/1000 # weight in ton
tot_weight_billion = round(tot_weight/1000000000,2) # weight in billion ton
print(f"that is {tot_weight_billion} billion ton!")

The total amount is 18446744073709551615 grains
that is 1199.04 billion ton!

<details>

<summary>Answer</summary>

```
18446744073709551615 number of grains
```

</details>